# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/

# Data
data/raw/*
data/interim/*
data/processed/*
data/external/*
!data/**/.gitkeep

# Models
models/trained/*
models/checkpoints/*
!models/**/.gitkeep

# Logs
logs/*
!logs/.gitkeep

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Cache Data
.cache*